<app-header></app-header>
<!-- <p>Root App Component HTML</p> -->
<!-- step 2 where app.component.html using property binding will share data with user.component.ts -->
<main>
  <div class="content">
    <ul id="users">
      <li *ngFor="let user of users">
        <app-user [user]="user" (select)="onSelectUser($event)"> </app-user>
      </li>
    </ul>

    <div class="tasks">
      <app-tasks
        *ngIf="selectedUser"
        [name]="selectedUser.name"
        [userId]="selectedUser.id"
      >
      </app-tasks>
    </div>
  </div>
</main>
