main {
  margin: 0;
  padding: 20px;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

#users {
  list-style: none;
  margin: 0;
  padding-left: 20px;
}

#users li {
  margin-bottom: 1rem;
}

.tasks {
  flex: 1;
  background: white;
  border-radius: 10px;
  margin-top: auto;
  padding: 1.5rem;
  min-height: 500px;
}
