div {
  width: 220px;
  background-color: rgb(48, 48, 246);
  padding: 12px;
  border-radius: 8px;
}

button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
  text-align: left;
  border-radius: 6px;
}

button:hover {
  background-color: #dcdce6;
}

img {
  width: 20px;
  height: 20px;
}

span {
  font-size: 14px;
  font-weight: 500;
}
